#workspace-table {
  width: 100%;
  height: calc(100% - 37px);
  border-collapse: collapse;
  display: flex;
  align-items: stretch;
}

#sidebar-cell {
  width: 35%;
  max-width: 280px;
  background: #fafafa;
  border-right: var(--border);
  vertical-align: top;
  padding: 0;
  overflow-y: auto;
  flex-shrink: 0;
}

#chat-cell {
  vertical-align: top;
  padding: 0;
  position: relative;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.panel-header {
  font-weight: bold;
  padding: 6px 8px;
  text-transform: uppercase;
  border-bottom: var(--border);
  border-top: var(--border);
  background: #eee;
  font-size: 12px;
  letter-spacing: 1px;
}

.panel-header:first-child {
  border-top: none;
}

.roster-user {
  padding: 4px 8px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

.roster-name {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.nav-item {
  padding: 6px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-item:hover {
  background: #f0f0f0;
}

.nav-item-active {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-weight: bold;
}

.sidebar-input-container {
  display: flex;
  padding: 4px;
  background: white;
  border-bottom: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-input {
  display: block;
  flex-grow: 1;
  min-width: 0px;
  padding: 3px;
  font-family: monospace;
  font-size: 11px;
  outline: none;
  border: 1px solid black;
}

.sidebar-btn {
  font-family: monospace;
  font-size: 10px;
  /* font-weight: bold; */
  background: white;
  border: 1px solid black;
  margin-left: 2px;
  cursor: pointer;
}

.mod-indicator-btn {
  border: 2px dashed red !important;
  color: red;
  font-weight: bold !important;
  font-family: monospace !important;
  cursor: pointer;
  text-align: center;
}

.mod-indicator-active {
  background: red !important;
  color: white !important;
  border-style: solid !important;
}

#pagination-header-bar {
  padding: 6px;
  background: #eee;
  border-bottom: var(--border);
  text-align: center;
  height: 26px;
  flex-grow: 0;
  flex-shrink: 0;
}

.page-btn {
  background: #ffffff;
  border: var(--border);
  padding: 2px 8px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
  box-shadow: 1px 1px 0 black;
}

#page-display-index {
  margin: 0 10px;
  font-size: 14px;
}

#chat-scroll-wrapper {
  overflow-y: auto;
  padding: 12px;
  flex-grow: 1;
}

#input-bar-container {
  display: flex;
  background-color: #eee;
  padding: 8px;
  box-sizing: border-box;
  border-top: var(--border);
  z-index: 20;
  height: max-content;
  align-items: stretch;
}

#content {
  display: block;
  flex-grow: 1;
  padding: 6px;
  font-size: 13px;
  border: var(--border);
  outline: none;
  background: white;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;
  box-shadow: 2px 2px 0 black;
}

#send {
  min-width: calc(max-content+1em);
  aspect-ratio: 1;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  background: white;
  border: var(--border);
  box-shadow: 2px 2px 0 black;
  margin-left: 8px;
}

.message-text {
  font-size: 13px;
  white-space: pre-wrap;
  line-height: 1.3;
  color: black;
  word-break: break-all;
}

.message {
  max-width: 60%;
  margin-top: 0.3em;
}

.mod-msg,
.admin-msg {
  margin-top: 0.5em;
}

.mod-msg {
  border: 3px solid #0000ff !important;
  box-shadow: 4px 4px 0px #0000ff50 !important;
}

.admin-msg {
  background: black !important;
  color: white !important;
  border: 3px solid black !important;
  box-shadow: 4px 4px 0px #0000004a !important;
}

.purged-msg {
  border-style: dotted !important;
  background: #fafafa !important;
  opacity: 0.6;
}

.mod-action-tray {
  display: block;
  background: #fff;
  border: 1px dashed red;
  padding: 4px;
  font-size: 11px;
  font-family: monospace;
  margin-top: 4px;
  max-width: 75%;
  box-sizing: border-box;
}

.mod-tray-btn {
  background: white;
  border: 1px solid black;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 4px;
  padding: 1px 4px;
  font-family: monospace;
}

.auth-box {
  background: white;
  border: var(--border);
  box-shadow: var(--shadow);
  padding: 30px;
  text-align: center;
  width: 300px;
}

.auth-box h2 {
  font-size: 18px;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.auth-box input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: var(--border);
  font-family: monospace;
  box-sizing: border-box;
  font-size: 14px;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: white;
  border: var(--border);
  box-shadow: 4px 4px 0px black;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  font-family: monospace;
}

.auth-box button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

#auth-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.paper-btn {
  font-family: monospace;
  font-size: 12px;
  /* font-weight: bold; */
  background: white;
  border: 2px solid black;
  cursor: pointer;
  padding: 5px;
}

.paper-input {
  font-size: 12px;
  background: white;
  border: 2px solid black;
  cursor: text;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
}

.shadow {
  box-shadow: 2px 2px 0px black;
}